<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
        <% if (messages.length > 0) {%>
          <% messages.forEach(messages =>{%>
            <li><%=messages.user%></li>
            <li><%=messages.text%></li>
            <li><%=messages.added%></li>
            <% })} %>
    </ul>
  </body>
</html>